node_modules
.env
dist/
package-lock.json
public/.DS_Store
src/server/files/allwording.txt
src/server/files/ceremonyBWording.js
src/server/files/database-script.js
src/server/files/databaseHelp.txt
.DS_Store