@use "../variables" as v;

@-webkit-keyframes shake {
  0% {-webkit-transform: rotate(0deg);}
  12% {-webkit-transform: rotate(10deg);}
  24% { -webkit-transform: rotate(0deg);}
  36% {-webkit-transform: rotate(-7deg);}
  48% {-webkit-transform: rotate(0deg);}
  60% {-webkit-transform: rotate(4deg);}
  72% { -webkit-transform: rotate(-2deg);}
  84% {-webkit-transform: rotate(1deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@mixin rotateMe($rotate){
  -moz-transform: rotate($rotate);
  -webkit-transform: rotate($rotate);
  -o-transform: rotate($rotate);
  -ms-transform: rotate($rotate);
  transform: rotate($rotate);
}


@mixin buttonDiv($deg, $sec, $color){
  display: flex;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  box-shadow: 4px 8px 10px v.$blackLight;
  :hover{  
    border-radius: 50%;
    background-color: $color;
    @include rotateMe($deg);
  }
  img{
    width: 100%;
    -webkit-transition: transform $sec;
    -moz-transition: transform $sec;
    transition: transform $sec;
  }
}

@mixin buttonHover($deg){
  border-radius: 50%;
    background-color: $color;
    @include rotateMe($deg);
}







