@use "../variables" as v;

#accountBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50vw;
  align-items: flex-end;
  font-size: 2em;
  padding: 0.5em 0.75em 0.5em 0.75em;
  background-color: v.$yellowMain;
  z-index: 4;
  box-shadow: 0.05em 0.05em rgb(234, 234, 234);
}
