
.addSectionButton{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5% auto 5% auto;
}

// @keyframes fadeInAnimation {
//   0% {
//       opacity: 0;
//   }
//   100% {
//       opacity: 1;
//    }
// }

// .fadeIn{
//   animation: fadeInAnimation ease 5s;
//   animation-iteration-count: 1;
//   animation-fill-mode: forwards;
// }

// .circle{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 5vw;
//   height: 5vw;
//   border-radius: 50%;
//   padding:0;
//   margin:0;
//   box-shadow: 5px 10px 10px rgb(85 85 85);

// }
// .circle:hover{
//   /* box-shadow: inset -7.5px -7.5px 0 rgb(103, 207, 103); */
//   background-color:rgb(120, 238, 120);
  
//   box-shadow:
//   inset 0 6px 0 rgb(103, 207, 103), /* Top */
//   inset -6px 0 0 rgb(103, 207, 103), /* Right */
//   inset 0 -6px 0 rgb(103, 207, 103), /* Bottom */
//   inset 6px 0 0 rgb(103, 207, 103), /* Left */
//   inset -4.5px 4.5px 0 rgb(103, 207, 103), /* Top Right */
//   inset -4.5px -4.5px 0 rgb(103, 207, 103), /* Bottom Right */
//   inset 4.5px -4.5px 0 rgb(103, 207, 103), /* Bottom Left */
//   inset 4.5px 4.5px 0 rgb(103, 207, 103); /* Top Left */
// }
// .addButtonImg{
//   width: 100%;

//   -webkit-transition: transform 1s;
//   -moz-transition: transform 1s;
//   transition: transform 1s;
// }

// .addButtonImg:hover{
//   -moz-transform: rotate(360deg);
//   -webkit-transform: rotate(360deg);
//   -o-transform: rotate(360deg);
//   -ms-transform: rotate(360deg);
//   transform: rotate(360deg);
// }