@use "../variables" as v;

#popupContainer{
  position: fixed;
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

#popupBackground{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: .9;
}

.acctPopup{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.entireBox{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  background: transparent;
  margin-left: auto;
  margin-right: auto;

  position: relative;
}

.eachTab{
  position: relative; 
  background-color: v.$whiteMain;
  color: grey;
  flex-basis: 15%;
  text-align: center;
  padding: .5vw;
  border-top: solid thin grey;
  border-left: solid thin grey;
  border-right: solid thin grey;
  border-width: thin;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 5px 5px 10px grey;
}

.selectedTab{
  background-color: v.$yellowMain;
  color: white;
}

.mainInput{
  position:relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: v.$whiteMain;
  padding-top: 3vw;

  border: solid thin grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;

  box-shadow: 5px 5px 10px grey;
}





.line{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  text-align: center;
  padding: 1vw;
}

.lineInstructions{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  text-align: center;
  padding: 1vw;
}

.desc{
  text-align: right;
  flex-basis:25%;
  padding-right: 1vw;
  padding: 3% 3% 3% 0;

}

.inputDiv{
  flex-basis: 70%;
  display: flex;
  border-radius: 5px;

}

.inputDiv input{
  width: 100%;
  padding: 3% 3% 3% 3%;
  border: solid thin grey;
  border-radius: 10px;
  font-size: v.$fontSizeMed;
  // border-radius: 5px;
  // border-color: v.$whiteMain;
}

.lefty{
  flex-basis: 100%;
  text-align: right;
  font-size: smaller;
  padding-right: 2vw;

}

.bottomBox{
  width: 100%;
  margin-top: 2vw;
  border-radius: 5px;
}

.submitButton {
  border: solid thin grey;
  border-radius: 5px;
  padding: 1vw;
  text-align: center;
  background-color: v.$whiteMain;
  color: grey;
  box-shadow: 5px 5px 10px grey;
    &:hover{
      background-color: v.$pinkMain;
    }
}

.buttonActive{
  color: black;
}


.moreMargin {
  margin-bottom: 2vw;
}


#incompleteNotifications{
  display: flex;
  flex-direction: column;
  margin: 3vw 0 4vw 0;
  color: red;
  list-style-type: circle;
  font-style: italic;
}

