@use "./variables" as v;

.titleS {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: v.$fSize4 0 v.$fSize7 0;
  z-index: 1;
}

@media (max-width: 768px){
  .titleS {
    position: relative;
  }
  #h1Image{
    width: 100%;
  }
}

#h1Image {
  width: 90%;
  // background-color: v.$whiteMain;
  // border-bottom: thin solid rgb(75, 75, 75); 
}
