@use "./variables" as v;

@media (max-width: 768px){


  //The container for the popup box
  #popupContainer{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    margin-top: 5vw;
    z-index: 100;
  }


  //The white background cover
  #popupWhiteBackground{
    position: fixed;
    top: 0;
    // position: absolute;
    // width: 100%;
    // height: 100%;
    // background-color: white;
    // opacity: .9;
  }

  /*** PRINT POPUP *****/
  //white background for behind the print box
  #popupPrintCover{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  //contents of the print box
  #popupPrintBox {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-color: v.$pinkMain;
    border: solid thick black;
    padding: v.$fSize3;
    align-items: center;
    width: 85vw;
    height: 85vh;
    z-index: 4;
  }

  /**** TEMPLATE POPUP ****/
  //the actual box for the templates
  #templateBox{
    position: absolute;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: v.$fSize7;
    background-color: v.$pinkMain;
    border: thin solid v.$blackMain;

    h3{
      margin-bottom: 3rem;
    }
    
    #templateBoxUL{
      display: flex;
      flex-direction: column;
      background-color: v.$pinkMain;
      width: 90%;
      li{
        margin-bottom: 1.5rem;
      }
    }
  }

  //holds three divs displayed in each row
  .templateTitleRows{
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    width: 100%;
    height: 4rem;
    
    //center the contents of the div
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size:2rem;
      
      //all image icons
      img{
        width: 2.5rem;
        border: solid thin v.$pinkMain;
        
        &:focus, 
        &:hover{
          cursor: pointer;
          border: solid thin v.$whiteMain;
          border-radius: 50%;
        }
      }
      //input to rename template
      input{
        border-radius: 5px;
        height: 100%;
        width: 95%;
        border: none;
        background-color: white;
        
        &:focus {
          outline: none;
        }
      }
    }
    
    //pencil icon
    .rowsPencil{
      img:hover, 
      img:focus{
        background-color: v.$whiteMain;
      }
    } 
    //x icon
    .rowsClose{
      img:hover,
      img:focus {
        background-color: v.$redMain;
        border-color: v.$redMain;
      }
    } 
    
    //save (check) icon
    .rowsSave{
      img:hover,
      img:focus {
        background-color: v.$greenMain;
      }
    } 
    
      //middle div that holds template name;
    .rowsTitle{
      background-color: white;
      border: solid thin v.$blackMain;
      border-radius: 5px;
      height: 100%;
    }
  }




 


  /**** POPUP AUTH ****/
  //wrapper for PopupAuth
  .acctPopup{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  //invisible wrapper for all popups.
  .entireBox{
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // background: transparent;
    margin-left: auto;
    margin-right: auto;
    position: relative;


    
    
    //tabs for login/signup
    .eachTab{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      flex: 1 0 30%;
      height: 3rem;
      background-color: v.$whiteMain;
      color: grey;
      text-align: center;
      border-top: solid thin grey;
      border-left: solid thin grey;
      border-right: solid thin grey;
      border-width: thin;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
      
      //different style for current popupBox tab
    .selectedTab{
      background-color: v.$yellowMain;
      color: white;
      &:focus,
      &:hover{
        color: v.$blackMain;
        cursor: pointer;
      }
    }

    form{
      width: 99%;
      border-right: solid 3px grey;
      border-radius: 5px;
    }

    //main content div of the popup.
    .mainInput{
      width: 100%;
      border: solid;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: v.$whiteMain;
      padding-top: v.$fSize4;
      border: solid thin grey;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 0px;
      box-shadow: 5px 5px 10px grey;
      
      //instructions
      .lineInstructions{
        font-size: 1.5rem;
        padding: 0 2rem 2rem 2rem;
      }
      
      //each input line
      .line{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-basis: 100%;
        width: 100%;
        text-align: center;
        padding: v.$fSize1;
        
        //label for what to enter in the input
        // .desc{
        //   text-align: right;
        //   flex-basis: 25%;
        //   padding-right: v.$fSize3;
        //   padding: v.$fSize2 v.$fSize2 v.$fSize2 0;    
        // }
        
        //div that holds the input.
        .inputDiv{
          flex-basis: 80%;
          border-radius: 0;
          
          input{
            border-radius: 5px;
            font-size: v.$fSize5;
          }
        }
      }
      
      //adds a bit more margin to the line if needed
      // .moreMargin {
      //   margin-bottom: v.$fSize3;
      // }
      
      //notifications of error
      #incompleteNotifications{
        font-size: 1.5rem;
      }
      
      //notifications that success
      .complete{
        color: green;
      }
      
      //footer at bottom
      .footerNote{
        font-size: 1.5rem;
      }
    }

    //submit button div
    .bottomBox{
      width: 100%;
      

      .submitButton {
        font-size: v.$fSize5;
        height: 5rem;        
      }
        
      .buttonActive{
        color: black;
        &:hover,
        &:focus {
          cursor: pointer;
        }
      }
    } 
  }
    
    
  //  PopupAuthSignout signout box
  .signoutBox{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    // margin-bottom: 3vw;
    h2 {
      font-size: 3rem;
      padding: v.$fSize1;
      margin-bottom: v.$fSize3;
    }
    p{
      font-size: 1.5rem;
    }
  }
    
  .acctButton{
    margin-bottom: v.$fSize6;
    color: white;
    background-color: rgb(46, 45, 45);

    
    &:hover{
      background-color: v.$pinkMain;
      color: black;
    }
  }
} //end media query

