@use "./variables" as v;
@use "./animations" as a;
@use "./mixins" as m;


/*SECTIONS*/
  //section container
.section {
  display: grid;
  grid-template-columns: v.$fSize5 1fr v.$fSize5;
  margin: v.$fSize5 auto v.$fSize5 auto;
  width: 100%; //width needed for transition when closed
}

  //The section contains the visible/interactive part of the section
.innerBox {
  display: flex;
  flex-direction: column;
  align-self: center;
  grid-column: 2 / 3;
  font-size: 1.5rem;
  height: v.$fSize14;
  background-color: white;
  margin: v.$fSize2;
  border: outset;
  box-shadow: .5px 10px 10px rgb(74, 74, 74);
}

  //Section Selector title
.title {
  text-align: center;
  padding: v.$fSize0;
}

  //holds the arrows and cards 
.middleBox {
  display: grid;
  grid-template-columns: v.$fSize5 1fr v.$fSize5;
  align-items: center;
  height: 78%;
  overflow: hidden;
}

  //left arrow to move between cards/scripts
.lArrow {
  grid-column: 1 / 2;
  text-align: center;
  width: 100%;
  height: 30%;
}

  //right arrow to move between card/scripts
.rArrow {
  width: 100%;
  height: 30%;
  grid-column: 3 / 4;
  transform: rotate(180deg);
}



/*CARD COMPONENT*/
  //the div contining the script 
.cards {
  grid-column: 2 / 3;
  height: 85%;
  background-color: v.$pinkMain2;
  color: rgb(32, 32, 32);
  border: solid; //inset;
  overflow-y: scroll;
  line-height: 1.2;
  font-family: v.$fontSecond;
  padding: v.$fSize1;
  font-size: 1rem;
}

  //container for four buttons (add,delete,move)
  .secButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: v.$fSize3 0 v.$fSize3 0; //section
    margin-left: auto;
    width: 70%;
  
    div{
      border-radius: 50%;
      width: v.$fSize5;
      height: v.$fSize5;

      img{
        width: 100%;
      }
    }
  }
    //plus Button
  .addButton{
    @include m.secButtonDiv(0deg, 359deg, v.$greenMain, 1s)
  }
    //remove button
  .removeButton {
    @include m.secButtonDiv(45deg, 360deg, v.$redMain, 1s);
  }
    //up arrow button
  .upArrow{
    @include m.secButtonDiv(0deg, 360deg, v.$yellowSecond, 1s)
  }
    //down arrow button
  .dnArrow{
    @include m.secButtonDiv(180deg, 360deg, v.$yellowSecond, 1s)
  }

    //down arrow button
  .aiButton{
    @include m.secButtonDiv(0deg, 359deg, v.$yellowThird, 1s);
  }
  



/* SELECTOR BOX */
  //container for the selector box
.selectorBox {
  width: 80%;
  margin: v.$fSize5 auto v.$fSize5 auto;
}

  //the content of the selector box.
.selections {
  text-align: center;
  ul{
    display: flex;
    flex-direction: column;
    padding: v.$fSize1;
    list-style-type: none;
    h3{
      display: flex;
      flex-direction: column;
    }
    li{
      font-family: v.$fontSecond;
      border: solid;
      border-color: rgb(251, 251, 243);
      &:hover{
        border: solid;
        background-color: white;
        cursor: pointer;
      }
    }
  }
}

