@use "./variables" as v;
@use "./buttons.scss" as b;

  //The white background behind the sidebar that hides the content while sidebar is open
#cover {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: white;
  opacity: 0.9;
}

  //The actual sidebar!!
#sideBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  width: 33%;
  height: 100%;
  padding: 0 v.$fSize3 0 v.$fSize3;
  background-color: v.$yellowThird; //v.$pinkMain;
  box-shadow: v.$fSize0 v.$fSize0 grey;
  z-index: 2;
  transition: width 1.5s;
  overflow: scroll;
    &:hover{
      // background-color: v.$yellowThird;
    }
}


  //the links to login/signup & account/signout
.sidebar-loginlogout {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background-color: v.$yellowThird;

  ul {
    background-color: v.$yellowThird;
  
    li {
      margin-left: v.$fSize1;
      color: v.$whiteMain;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

  //All sidebar Elements
.sidebarElements {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: v.$fSize3 0 v.$fSize3 0;
  align-items: center;
  border-bottom: solid thin v.$whiteMain;;
  font-size: v.$fontSizeMed;
    
  h2 {  //title of component
    margin-bottom: v.$fSize3;
  }

  p {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: v.$fontSecond;
    font-size: v.$fontSizeMed; //v.$fontSizeMedSm;
    margin: v.$fSize1 0 0 0;
  }
  
  input {
    border-color: hsl(0, 0%, 80%);
    width: v.$fSize12;
    height: 2rem;
    font-size: v.$fSize3;
    padding-left: 1vw;
  }
}

// SIDEBAR TEMPLATES
.sidebarTemplate {
  
  .templateSelectorDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;

    .icons{
      width: 100%;
      margin: v.$fSize0;
      border: solid thin v.$yellowThird;
      
      &:hover{
        border: solid thin grey;
        background-color: v.$whiteMain;
        border-radius: 50%;
      }
    }
  }
}

// SIDEBAR SAVE
.saveNotificataions{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: v.$yellowThird;
  color: red;
  font-style:italic;
  font-size: smaller;
}
