$blackMain: rgb(15, 15, 15);
$blackLight: rgb(65, 65, 65);
$pinkMain: rgb(255, 221, 244);
$yellowMain: #989534;
$redMain: rgb(193, 93, 93);
$whiteMain: rgb(251, 251, 243);
$fontMain: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$fontSecond: 'Courier New', Courier, monospace;
$fontSizeXLg: 4vw;
$fontSizeLg: 3vw;
$fontSizeMed: 2vw;
$fontSizeSm: 1vw;
$fontSizeTiny: 0.5vw;


@media screen and (min-width: 1200px) {
  :root {
    $blackMain: rgb(15, 15, 15);
    $blackLight: rgb(65, 65, 65);
    $pinkMain: rgb(255, 221, 244);
    $yellowMain: #989534;
    $redMain: rgb(193, 93, 93);
    $whiteMain: rgb(251, 251, 243);
    $fontMain: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    $fontSecond: 'Courier New', Courier, monospace;
    $fontSizeXLg: 4vw;
    $fontSizeLg: 3vw;
    $fontSizeMed: 2vw;
    $fontSizeSm: 1vw;
    $fontSizeTiny: 0.5vw;
  }
}

@media screen and (max-width: 450px) {
  :root {
    $blackMain: rgb(15, 15, 15);
    $blackLight: rgb(65, 65, 65);
    $pinkMain: rgb(255, 221, 244);
    $yellowMain: #989534;
    $redMain: rgb(193, 93, 93);
    $whiteMain: rgb(251, 251, 243);
    $fontMain: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    $fontSecond: 'Courier New', Courier, monospace;
    $fontSizeXLg: 4vw;
    $fontSizeLg: 3vw;
    $fontSizeMed: 2vw;
    $fontSizeSm: 1vw;
    $fontSizeTiny: 0.5vw;
  }
}