/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Set Variables */
:root {
  --mainBlack: rgb(15, 15, 15);
  --blackLight: rgb(65, 65, 65);
  --mainPink: #FF5DC7;
  --mainYellow: #989534;
  --mainRed: #rgb(193, 93, 93);
  --mainWhite: rgb(251, 251, 243);
  --fontMain: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --fontSecond: 'Courier New', Courier, monospace;
  --fontSizeXLg: 4vw;
  --fontSizeLg: 3vw;
  --fontSizeMed: 2vw;
  --fontSizeSm: 1vw;
  --fontSizeTiny: 0.5vw;
}

@media screen and (min-width: 1200px) {
  :root {
    --mainBlack: rgb(15, 15, 15);
    --mainPink: #FF5DC7;
    --mainYellow: #989534;
    --fontMain: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --fontSecond: 'Courier New', Courier, monospace;
    --fontSizeXLg: 4vw;
    --fontSizeLg: 3vw;
    --fontSizeMed: 2vw;
    --fontSizeSm: 1vw;
    --fontSizeTiny: 0.5vw;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --mainBlack: rgb(15, 15, 15);
    --mainPink: #FF5DC7;
    --mainYellow: #989534;
    --fontMain: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --fontSecond: 'Courier New', Courier, monospace;
    --fontSizeXLg: 4vw;
    --fontSizeLg: 3vw;
    --fontSizeMed: 2vw;
    --fontSizeSm: 1vw;
    --fontSizeTiny: 0.5vw;
  }
}


/* Global styles */
body {
  font-family: var(--fontMain);
  color: var(--mainBlack);
  font-size: var(--fontSizeMed);
  background-color: var(--mainWhite);
}

a {
  color: var(--mainBlack);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--mainYellow)
}


/* APP Component */
.App {
  width: 100%;
  /* background-image: linear-gradient(#f4eaeb, white); */
}


/* MainDisplay Component */
#mainDisplay{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}








