@use "./variables" as v;
@use "./mixins" as m;

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
  }
  12% {
    -webkit-transform: rotate(10deg);
  }
  24% {
    -webkit-transform: rotate(0deg);
  }
  36% {
    -webkit-transform: rotate(-7deg);
  }
  48% {
    -webkit-transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(4deg);
  }
  72% {
    -webkit-transform: rotate(-2deg);
  }
  84% {
    -webkit-transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

  //used in sidebar
.boxButton {
  @include m.createBoxButton();
  text-align: center;
  margin: 1vw auto 1vw auto;
}


  //Mobile buttons
@media (max-width: 768px){
  .cButton{
    @include m.closeButton-mobile;
  }
}

  //ai button selections
.radio-btn{
  @include m.createBoxButton();
}
