@use "./variables" as v;
@use "./mixins" as m;

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
  }
  12% {
    -webkit-transform: rotate(10deg);
  }
  24% {
    -webkit-transform: rotate(0deg);
  }
  36% {
    -webkit-transform: rotate(-7deg);
  }
  48% {
    -webkit-transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(4deg);
  }
  72% {
    -webkit-transform: rotate(-2deg);
  }
  84% {
    -webkit-transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

.buttonLg {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  // background-color: v.$yellowMain;
  background-color: v.$pinkMain;
  box-shadow: 0.25em 0.07em grey;
  // box-shadow: 10px 5px 10px rgb(75, 75, 75);
  justify-content: center;
  align-items: center;
  :hover {
    -webkit-animation: shake 0.4s linear;
    animation: shake 0.4s linear;
  }
}

.addButton {
  @include m.buttonDiv(0deg, 180deg, 1s, v.$greenMain);
}

.upArrow {
  @include m.buttonDiv(0deg, 360deg, 1s, v.$yellowMain);
}

.dnArrow {
  @include m.buttonDiv(180deg, 360deg, 1s, v.$yellowMain);
}

.removeButton {
  @include m.buttonDiv(45deg, 360deg, 2s, v.$redMain);
}

.boxButton {
  @include m.createBoxButton();
  text-align: center;
  margin: 1vw auto 1vw auto;
}
