@-webkit-keyframes rotation {
  0% {-webkit-transform: rotate(0deg);}
  12% {-webkit-transform: rotate(10deg);}
  24% { -webkit-transform: rotate(0deg);}
  36% {-webkit-transform: rotate(-7deg);}
  48% {-webkit-transform: rotate(0deg);}
  60% {-webkit-transform: rotate(4deg);}
  72% { -webkit-transform: rotate(-2deg);}
  84% {-webkit-transform: rotate(1deg);}
  100% {-webkit-transform: rotate(0deg);}
}

#sidebarButton{
  position:fixed;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 10vw;
  height: 10vw;
  margin: 10% 0 0 1%;
  border-radius: 50%;
  background-color: rgb(255, 248, 166);
  z-index: 3;
  box-shadow: 10px 5px 10px rgb(75, 75, 75);
}

#sidebarButton:hover{
  -webkit-animation: rotation .4s linear;
  animation: rotation .4s linear;
}




