.App {
    text-align: center;
  }

#root {
  width: 100%; 
  display: flex;
  flex-direction: column;
}


.allSections{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sec{
  width: 100%;
  max-width: 50em;
  border: solid;
  display: grid;
  grid-template-rows: 2em 1fr 2em;
  margin: 2em auto 2em auto;
}

.deleteMove{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: solid;
  border-width: thin;
}

h3{
  padding: 0;
  margin: 0;
}

.OuterBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}

.cards{
  border: solid;
  border-width: thin;
  height: 10em;
  width: 100%;
}